@import "../variables.scss";

.filter__title {
  font-weight: bold;
  font-size: $title-font-size;
  line-height: 26px;
}

.filter {
  @media (max-width: $mobile-width) {
    width: 767px;
    display: none;
  }
}
