@import "../variables.scss";

.filter-attractions__title {
  font-weight: bold;
  font-size: $title-font-size;
  line-height: 26px;
}

.filter-attractions {
  @media (min-width: $desktop-width) {
    width: 768px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
