@import "../variables.scss";

.main-nav__wrapper {
  width: 100%;
  background-color: $light-blue;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__list a {
  color: $black;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: grid;
    width: 100%;
    margin: 0 auto;
  }

  @media (width: $desktop-width) {
    .main-nav__wrapper {
      width: 1200px;
    }
  }

  &__toggle {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    align-items: center;
    list-style: none;

    &__item {
      width: 20%;
      text-align: center;
    }
  }
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: "e e c c" "d d d d" "f f f f" "g g g g";
  }
}

.sign {
  grid-area: c;
}

.contacts-info {
  grid-area: d;
}

.filter-impression {
  grid-area: e;
}

.filter-attractions {
  grid-area: f;
}

.emotion-form {
  grid-area: g;
}

.emotion-form__field {
  @media (max-width: $mobile-width) {
    display: none;
  }
}
