@import "../variables.scss";

.success-modal-window-hidden__title {
  font-weight: bold;
  font-size: $title-font-size;
  line-height: 26px;
}

.success-modal-window-hidden__text {
  font-size: $basic-font-size;
  line-height: 24px;
}
