//Colors
$black: #000000;
$light-blue: #81b3d2;
$light-grey: #eeeeee;
$white: #ffffff;

//Basic
$basic-font-family: "PT Sans", "Arial", sans-serif;

//Font-size
$basic-font-size: 14px;
$title-font-size: 18px;
$title-big-font-size: 21px;
$title-very-big-font-size: 30px;

//Tablet / Desktop
$mobile-width: 767px;
$tablet-width: 768px; // main
$desktop-width: 1200px; // main
